.container{
    display: flex;
    flex-direction: row;
   
}
.createRoom , .joinRoom{
    border: 3px;
    border-style: solid;
    border-color: rgb(124, 124, 124);
    border-radius: 10px;
        
    
}